{% import "macros.html" as macros with context%}
{% extends "base.html" %}
{% block content -%}
    <div id="post-id" data-id={{post.id}}> </div> 

    {% if post.type == 'standard' %} 
        {{ macros.standard_post(post, full=True) }}

    {% elif post.type == 'page' %}
        {{ macros.page_post(post) }}

    {% elif post.type == 'quote' %}
        {{ macros.quote_post(post) }}

    {% elif post.type == 'image' %}
        {{ macros.image_post(post) }}

    {% elif post.type == 'flashnews' %}
        {{ macros.flashnews_post(post) }}


    {% endif %}

{%- endblock %}
